[2016-08-09 12:47] aniketmaithani opened #1 "Adding Content on the Front Page"
# To DO's
- [x] About ALiAS
- [x] Upcoming Workshop/Meetup
- [x] Contact Info [mailing list, fb group, other form of contact]
- [x] LOGO for the website

[2016-08-11 03:50] bhanuvrat opened #2 "About Us Section"
Include 2 lines about each of :
- How ALiAS came to be.
- What it stands for.
- The platform it provides.
- Alumni of the club and where they stand today.

[2016-09-09 13:05] rplusleqaulsj opened #3 "Major Structural Changes"
Following changes need to be implemented besides general HTML elements such as lists, maps and forms:

Pre-Note:
I have created a notepad file (content.txt) to the repository wherein we need to pool in text/content that will actually go under various headers in the website.

1.On top below nav-bar the default Jumbotron needs to be added with bullet scrolling See Here (Flipboard)] this will require

[2016-12-27 11:55] thisisayush commented on #3
I have introduced data.js instead of content.txt!

[2017-01-07 20:59] aniketmaithani opened #9 "frontend changes :"
- [x]  Need to align the `alumni` in the header
![screen shot 2017-01-08 at 2 26 27 am](https://cloud.githubusercontent.com/assets/920701/21745116/119ff736-d54a-11e6-9e83-0d489a479a9a.png)

- [x]  Alignment of the `TEST EVENT` to be adjusted.
![screen shot 2017-01-08 at 2 26 32 am](https://cloud.githubusercontent.com/assets/920701/21745123/1fa464e8-d54a-11e6-96b8-76c00fd29af4.png)

- [x] Make Cont

[2017-01-07 20:59] aniketmaithani commented on #9
@thisisayush can you work on this???

[2017-01-07 21:02] aniketmaithani commented on #1
#WIP :)

[2017-01-08 08:36] thisisayush commented on #1
Logo Done

[2017-01-08 08:38] thisisayush opened #11 "White Space Issue in Mobile"
There is some white space coming in the right side on Mobile i.e. Small Screens.
Unable to detect the cause. Need Help!
See Screenshot for more info

[2017-01-08 08:40] thisisayush commented on #11
![screenshot 22](https://cloud.githubusercontent.com/assets/22245433/21748480/2624920e-d5ac-11e6-80a2-793f8d5567ee.png)

[2017-01-08 13:41] aniketmaithani commented on #1
@thisisayush can you also handle the content part a bit ???

@bhanuvrat your take over this??? What should we write in ABOUT ALiAS section?

[2017-01-08 13:41] aniketmaithani commented on #1
cc @arcolife @mysticTot

[2017-01-08 13:42] aniketmaithani commented on #9
WIP #14

[2017-01-08 13:45] aniketmaithani commented on #3
@rplusleqaulsj can you have a look at your proposed changes and adjust this issue accordingly.

[2017-01-08 14:51] thisisayush commented on #9
@aniketmaithani I'm on it!

[2017-01-08 14:52] aniketmaithani commented on #9
@thisisayush already completed by commit 446e83767e3ac17842f0557988bf656f552690d5

[2017-01-08 14:52] aniketmaithani commented on #9
closing this as of now.

[2017-01-08 14:52] #9 closed

[2017-01-08 14:53] thisisayush commented on #1
@aniketmaithani U mean updating the about ALiAS Section?

[2017-01-08 14:55] aniketmaithani commented on #11
@thisisayush any updates on this?? I am unable to see this issue on my screen.

if this issue still persist please send a PR and reference it here. In case it is completed, you can close this issue. :)

[2017-01-08 15:04] aniketmaithani commented on #1
@thisisayush the entire content... as in validation and keep it updated as the development goes on.

[2017-01-08 15:15] aniketmaithani opened #16 "Changing the alumni section"
- [ ] Instead of Photos just a two line about the whereabout of the ALiAS alumni.

e.g :

" Alumni who were a part of ALiAS are now placed in various companies or some of them are still consulting other(s) in the `open source` domain.... blah blah <:P>"

[2017-01-08 15:26] aniketmaithani commented on #16
let me know if you guys are willing to work on this issue @thisisayush @parthsharma2

[2017-01-08 17:13] thisisayush commented on #16
@aniketmaithani I am adding a
<div>
 Alumni who were a part of ALiAS are now placed in various companies or some of them are still consulting other(s) in the open source domain.... blah blah <:P>
</div>
and removing the photo part from the alumni box?

[2017-01-08 17:14] thisisayush commented on #1
@aniketmaithani Yeah, I'm on it. I will be sending patches occasionally as and whenever required :)

[2017-01-08 17:15] thisisayush commented on #2
@aniketmaithani Can I get a little description about 'How ALiAS came to be' for the Journey Section?

[2017-01-08 18:31] thisisayush commented on #16
@aniketmaithani Proposed Changes are done. Check new Pull request #17

[2017-01-08 18:36] thisisayush commented on #3
@rplusleqaulsj Following are fixed:
1. content.txt is replaced by data.js
2. Not Required as Intro Section of website is displaying all data :)
3. Menu is sticky. So, not required.
4. Events Section Added to accomplish the task.
5. Our Team Section Added in Pull Request #17
6. Social Links added by @parthsharma2
7. Join Us Button Added in Pull Request #17

If satisfied, this issue can be closed :)

[2017-01-08 18:38] rplusleqaulsj commented on #3
Seems nice to me. Alright close it.

On Mon, Jan 9, 2017 at 12:06 AM, Ayush Agarwal <notifications@github.com>
wrote:

[2017-01-08 18:42] aniketmaithani commented on #3
closing this up.

[2017-01-08 18:42] #3 closed

[2017-01-08 18:43] rplusleqaulsj commented on #3
nice work guys the website is looking decent. The syntax is done, content
and semantics should be finished by this week

On Mon, Jan 9, 2017 at 12:12 AM, Aniket Maithani <notifications@github.com>
wrote:

[2017-01-08 19:09] aniketmaithani commented on #16
Closing this as it is done in 584eba9fcaf8a4a6b62b498e5a05ec264eb0f8c0

[2017-01-08 19:09] #16 closed

[2017-01-08 19:09] aniketmaithani commented on #11
@thisisayush your take on this?? should I close this ??

[2017-01-08 19:18] aniketmaithani opened #19 "add MAILING LIST icon in the contact us form with link to Google Group of ASET ALIAS."
- https://groups.google.com/forum/#!forum/amity-linux-group

[2017-01-08 20:27] Tanya-Jain commented on #1
#20 Updated the About section partially. Still need information about alumni and how the club came to be. Also, updated the data of events previously organised.

[2017-01-08 20:50] thisisayush commented on #11
@aniketmaithani This issue is still present! Will work on it soon.

[2017-01-09 15:57] thisisayush commented on #11
Fixed in PR #21

[2017-01-09 18:42] aniketmaithani commented on #11
resolved. closing this.

[2017-01-09 18:42] #11 closed

[2017-01-24 10:34] aniketmaithani commented on #19
added as a G+ icon. :) closing this up.

[2017-01-24 10:34] #19 closed

[2017-02-27 13:47] aniketmaithani commented on #1
I am closing this as of now. In case anyone wants to open this up, feel free to do so.

[2017-02-27 13:47] #1 closed

[2017-02-27 13:54] aniketmaithani opened #27 "Moving to Dynamic Website -> Using Django/Flask framework"
As per the conversation on the Telegram group the point came out that we should have a dynamic website. Since most of the students are interested in learning Django/Python from scratch it would be a great experience for them to have a hands-on a real project.

Hence, I am opening this thread so that each one of you can put in your respective view(s).

cc @bhanuvrat @arcolife @mysticTot @thisisayus

[2017-02-28 10:38] parthsharma2 commented on #27
Totally up for this project👍

[2017-02-28 10:44] aniketmaithani commented on #27
@parthsharma2 thanks for you valuable feedback

[2017-02-28 11:28] arcolife commented on #27
@aniketmaithani so IIUC we need to have MVT/MVC in place, instead of the static pages? and by  developing this 'dynamic' website together, we hope to end up with people having a hands-on experience and also a finished product simultaneously? if yes, sounds great! :clinking_glasses: :

perhaps we might wanna take a look at https://github.com/crowdresearch/crowdsource-platform which was developed us

[2017-03-01 17:28] #2 closed

[2017-03-06 17:42] thisisayush opened #35 "Moving to Dynamic Website | Features/Framework"
- Events Management
    - Events Listing and Creation
        - Title
        - Description
        - Speaker
    - Inbuilt Registration Forms Module for each Event [Abandon Google Forms]
    - Attendees Module with options to mark Going/Not Going [for end users]  and Attended [Admin Module for efficient management of ODs]
   - Direct Posting of event on Social Platforms automatically along with M

[2017-03-06 17:52] AnimeshVerma17 commented on #35
Interesting.........I can work on this.

[2017-03-06 17:53] aniketmaithani commented on #35
What is the choice of framework ???
- [ ] Django
- [ ] Flask
- [ ] Other

My Two Cents on "Django" . Though flask will also do. :) But rest is upto you guys because the learning curve will be bit steep as you'll progress with any framework especially Python based.

[2017-03-06 17:56] AnimeshVerma17 commented on #35
Mine is PHP.

[2017-03-06 18:06] AnimeshVerma17 commented on #35
And BTW my PR(#33) is still pending, if anyone can merge it.

[2017-03-06 18:13] aniketmaithani commented on #35
@AnimeshVerma17 this thread is about Feature/Future dev of Asetalias website. And you're pointing a completely different issue in this! Please adhere to the guidelines and we can take  #33 issue on different thread. :) Hope you understand my point.

[2017-03-06 18:17] AnimeshVerma17 commented on #35
Yep got it :P .

[2017-03-06 18:52] thisisayush commented on #35
@aniketmaithani I'll go with PHP as I want to learn more of it.
Also, just for knowledge, I have set up a test server at hostinger.in with domain asetalias.ga .Hosting account was created to see the resource limits and I have found they are well enough for development.

[2017-03-06 19:07] Tanya-Jain commented on #35
Another desirable feature: email templates which gets its data automatically updated with change in event and then can be broadcasted to speakers, concerned faculties and audience

[2017-03-06 19:38] AnimeshVerma17 commented on #35
@Tanya-Jain great suggestion.....in short an automated mailing system :)

[2017-03-07 11:14] aniketmaithani commented on #35
Okay. Can any one of you put this thread on mailing list also. Asking people about their opinion of the choice of framework we should use.

[2017-03-07 15:21] shivamdiehard commented on #35
I would like to go with php

[2017-03-08 14:12] thisisayush commented on #35
What framework are we going with then? @aniketmaithani

[2017-03-08 16:55] aniketmaithani commented on #35
@thisisayush can you post this thread to mailing list as well. So that we can have more consolidated view. :)

[2017-03-08 18:22] aniketmaithani commented on #35
@bhanuvrat @arcolife your take??

[2017-03-08 19:06] arcolife commented on #35
If the aim is to do this https://github.com/asetalias/asetalias.github.io/issues/27#issuecomment-283015052, it really shouldn't matter. Any framework will do as long as we understand what role do the sub-components play in order to deserve their respective M/V/T[C] titles.

I'm personally interested in learning more about Elixir https://twitter.com/arcolife/status/826643671940464640

And with that

[2017-03-08 19:21] thisisayush commented on #35
@aniketmaithani I haven't done it before nor do I have the mailing list. I would be glad to do it under guidance first time.

[2017-03-08 19:22] thisisayush commented on #35
@arcolife Sorry, but I didn't understood anything 😅

[2017-03-08 19:29] aniketmaithani commented on #35
@thisisayush read about what is mailing list : https://en.wikipedia.org/wiki/Mailing_list

ASET ALIAS has a mailing list : https://groups.google.com/forum/#!forum/amity-linux-group

You post the mail here and it will be delivered to all the members :). DO adhere to the mailing list guidelines

[2017-03-09 07:03] aniketmaithani commented on #35
@arcolife let's start with the basics. These are undergrads 1st year students :P

[2017-03-14 13:04] thisisayush commented on #35
After thinking, I am in for any other framework than PHP, I suddenly remembered I had to build one project on PHP so I can go with other Platform for this one. Flask/Django as suggested would be good.
Other than that, MySQL could be used for database.
@aniketmaithani @ATB00ker @Tanya-Jain

[2017-03-14 13:07] thisisayush opened #44 "Improve Color Scheme!!"
Suggesting themes module instead of random color!

[2017-03-14 13:08] ATB00ker commented on #44
Tanya is working on that.

[2017-03-14 13:28] ATB00ker commented on #35
After looking at GSoC Organisations of this year... I am willing to work on python and Django. :)
P.S: MySQL works for me. :)

[2017-03-14 13:32] ATB00ker commented on #35
Also, about the front-end of the website. Tanya is working on new color scheme, I have seen some screenshot and  it looks good, I think we can mordify the current front-end and adapt it for the dynamic site in future. :)

[2017-03-14 13:51] AnimeshVerma17 commented on #35
So what`s the final choice?

[2017-03-14 14:03] ATB00ker commented on #35
P.S: My opinion is Django; It is based on python so we could start with basic python coding and use the high-level libraries of django as we are comfortable with the basics...

[2017-03-14 14:16] AnimeshVerma17 commented on #44
I can help in that too.

[2017-03-14 16:04] AnimeshVerma17 commented on #35
Well my first opinion is for PHP 7, if anyone wanna consider it once.
Nevertheless majority vote is most welcomed.

[2017-03-16 09:12] aniketmaithani commented on #44
Guys @thisisayush @ATB00ker @AnimeshVerma17 make sure you post the same color scheme over here.

[2017-03-16 12:13] AnimeshVerma17 commented on #44
Sure we will.

[2017-03-17 17:35] AnimeshVerma17 commented on #44
Would it be better to create a complete UI style guide for the site... to maintain design consistency in further updates?

[2017-03-28 01:34] vipulgupta2048 opened #51 "Nav_bar not working in multitasking mode in Windows"
![capture](https://cloud.githubusercontent.com/assets/22801822/24384544/37926c96-1382-11e7-9e47-2bfcd4ad015b.PNG)

The button on the top isn't working when windows are tabbed in multitasking mode in windows 10. The button is unresponsive and the hyperlinks are behaving abnormally.Please do check the photo attached  with the issue.

[2017-03-28 03:38] thisisayush commented on #51
It seems to be working fine on my side! Please recheck!

![screenshot 52](https://cloud.githubusercontent.com/assets/22245433/24388077/0d174f40-1396-11e7-933a-0da26aeeee37.png)

[2017-03-28 03:41] thisisayush commented on #44
@aniketmaithani @AnimeshVerma17 @ATB00ker
Instead of building guidelines ourself we can go Material UI?

[2017-03-28 04:34] ATB00ker commented on #44
Completely onboard with that idea!

[2017-03-28 10:59] AnimeshVerma17 commented on #51
Yeah it`s working all good on my browser too..... I don`t think there`s any issue here.

[2017-03-28 12:45] thisisayush commented on #51
@vipulgupta2048 After being verified from two people here. I am closing the issue now.

[2017-03-28 12:45] #51 closed

[2017-03-28 15:09] vipulgupta2048 commented on #51
@thisisayush I want to add to this issue that the problem specifically arrives when the windows are divided 50-50 in the multitasking mode. It doesn't work on my system, please do check while doing the above example... I may be wrong or there is an issue with my laptop. I will recheck on some other laptop. You need to stack the windows side by side .

![capture](https://cloud.githubusercontent.com

[2017-03-28 17:51] AnimeshVerma17 commented on #51
@vipulgupta2048 checked on side-by-side stacking too. No glitches found.
![capture](https://cloud.githubusercontent.com/assets/24977899/24419561/29eb4bd6-140d-11e7-9b93-6ae90424285a.PNG)

[2017-03-29 12:40] vipulgupta2048 commented on #51
I accept the issue. Thank you for taking the time for this issue.

[2017-04-01 07:46] aniketmaithani commented on #44
Couple of things :
1. Let's have a design guide
2. Let's have a common FONT, COLOR w.r.t to the website theme. I have seen in the past that people tend to use different font schemes in every PR they submit. It would be great if we put this in the design specs as well.

[2017-04-01 10:46] AnimeshVerma17 commented on #44
Yes, a complete design guide specifies common fonts too.
My opinion is to trash the calligraphic fonts.......keep the typography bold but simple :) .

[2017-04-01 17:10] thisisayush commented on #44
I suggest dividing things. Creating of a new file style.css that will include only Font and Background Styles of each element of the website while layout.css to position and define other properties of elements of page.

[2017-04-01 18:38] AnimeshVerma17 commented on #44
@thisisayush That all will be divided on the basis of design guide............it won`t be good to link too much CSS files.

[2017-04-01 19:35] thisisayush commented on #44
All suggestions and views are welcome :)

[2017-05-11 07:49] thisisayush commented on #44
Design has been updated in #55 . Closing this issue

[2017-05-11 07:49] #44 closed

[2017-05-11 07:50] thisisayush commented on #35
A step towards Dynamic #63

[2017-05-11 07:51] thisisayush commented on #27
Discussion moved to referenced issue #35 ! Closing this issue

[2017-05-11 07:51] #27 closed

[2017-05-11 10:10] bhanuvrat commented on #35
While it is a good idea, I wouldn't endorse making a web application only meant for asetalias.
Reasons:
  - it takes too long to get one up and running.
  - most people will loose their steam by the time its done.
  - there would be only a handful of people using this application.
  - rarely someone outside Amity would be served by it.
  - whats the ****ing point?

# Drawbacks of starting a projec

[2017-05-11 15:24] thisisayush commented on #35
@bhanuvrat Bhaiya, The aim is to create a application dynamic enough to be implemented to variety of systems. I haven't worked with PHP or any other platform enough but seeing most simple web applications are running in PHP including the most popular CMS WordPress (though it has security issues) I don't think PHP has enough issues that can't be resolved via simple tricks (like SQL Injection can be

[2017-05-12 08:28] bhanuvrat commented on #35
TL;DR

- please don't start a new project only for asetalias.
- there already is an app called confluence being worked on by Sanyam and Amit.
- We shall fork this application on sunday.

- starting with PHP will probably teach you anti-patterns: don't believe me? remind me to schedule a call with @amanjain (https://github.com/amanjain)
- work on things that more people will use. Trust me that will

[2017-09-28 19:06] #35 closed

[2017-10-06 15:38] thisisayush opened #74 "Adding section for showcasing projects done under ALiAS or members of ALiAS"
I am thinking if we should add a page for showcasing projects done or ongoing under ALiAS or members of ALiAS or if someone wants to list their project for help.
Require views. @Tanya-Jain @ATB00ker @vipulgupta2048 @parthsharma2

[2017-10-07 06:48] parthsharma2 commented on #74
Nice idea. I think it'll be pretty cool.

[2017-10-07 10:56] vipulgupta2048 commented on #74
The North agrees.

[2017-10-26 19:21] AnimeshVerma17 commented on #74
Yea that's great.
And I need public opinion on using CSS grid and card layouts.

[2017-11-10 19:34] #74 closed

[2017-12-30 09:57] thisisayush opened #83 "Add Alumni Section"
Add Alumni Section to Website, to let members know that previous members are in a great position today.

Suggested by @atb00ker @Manas-kashyap @thisisayush

[2017-12-30 10:04] atb00ker commented on #83
I did not suggest anything, kindly remove my username. :)

[2017-12-30 11:13] atb00ker commented on #83
I did not suggest anything and i am not aware of this, maybe it is a wrong tag.
Please remove my handle.
Thank you.

[2018-03-13 20:46] thisisayush opened #88 "Add Support for fetching contributors from Gitlab API"
Projects Module currently fetches List of Contributors only from Github, gitlab support needs to be added to fetch contributors list for projects hosted on gitlab.

[2018-03-13 20:53] thisisayush opened #89 "Re-design Back-To-Top Button"
The Back to Top Button in Lower Right of Website doesn't match the site theme and needs to redesigned.

[2018-03-14 06:17] thisisayush opened #90 "Fix Overflow of Project Card"
Fix content overflow in project card under Projects.

![screenshot_20180314-114536](https://user-images.githubusercontent.com/22245433/37386210-65db2a56-277d-11e8-8ced-462f77e6af89.png)

[2018-03-21 16:18] vipulgupta2048 opened #93 "New design proposal for Upcoming Events Section"
Right now, posters are not able to fit properly in the upcoming events section, also the design is somewhat small hence various elements flow out of their boxes which leads to problems and looks bad.

**Solution**
Create 2 boxes, one that would contain posters on the left and the other on the right with ample space for the description to be accommodated keeping all the fine details same.

[2018-03-23 13:14] vipulgupta2048 opened #94 ""Want to host a talk?" depreciated"
- Since talk proposals are taken on [GitHub now.](https://github.com/asetalias/Logistics-and-Event-Contributions)
This button should redirect to the creation of a new issue on that repository only to maintain uniformity.
~Also, one should add an issue template on that repo for easy issue creation.~ (Already taken care off)
- Change the text to - "Want to give a talk?" Since it doesn't make sense,

[2018-03-23 13:18] vipulgupta2048 opened #95 "[new page] Showcase all past events by ALiAS"
- Use GitHub API's aid to easily inform members about the past events by ALiAS
- Would help in getting information quicker about past events like speaker details, photos, links, and follow-ups with the speaker.

[2018-03-23 13:45] vipulgupta2048 opened #96 "[CRITICAL] Update Open-Source communities page"
**Need to update that section with these and any more we can find.**
- Mozilla Delhi Open Community [https://wiki.mozilla.org/India/Delhi]
- PyData Delhi Community
- Women Who Go Delhi

**Extensive issues on landing pages of those communities**
- ILUG-D has changed its logo (Need to be updated)
- ILUG-D, strangely enough, has the same description as PyDelhi. Change it (Time to git blame)
- PyDelhi

[2018-03-23 13:56] vipulgupta2048 opened #97 "Update Contact Us"
Add the following to the Contact Us section
- Telegram Invite links to ALiAS groups
- MM ??
- GitLab/AsetAlias
- Twitter
- Instagram
- Integrate paper.dropbox.com links of **[ALiAS]Resources** and **Welcome to ALiAS** docs and other documents wherever required on the website.
- Others

[2018-03-23 13:57] thisisayush commented on #95
+1 I was thinking about the same. Let's Start with this already!

[2018-03-23 13:58] thisisayush commented on #93
Can you upload a rough sketch or wireframe of proposed design?

[2018-03-23 15:12] vipulgupta2048 opened #98 "Update "Participate & Learn""
Update the **Participate and Learn** section with the following
- FOSSEE Fellowship
- Summer of Privacy
- RGSoC (Rails Girls Summer of Code)
- KDE Summer of Code- An alternative to GSOC
- Mozilla's Winter of Security
- Summer of Haskell
- Free Software Foundation
- Center for Open Science.

Add/Delete/edit whatever that seems plausible [.](https://github.com/TanyaaCJain/asetalias.github.io/blob/9c

[2018-03-31 02:56] vipulgupta2048 opened #100 "[Update] Event Details"
Need a **maintainer** to update the event.json file on a short notice and submit PR's
- When new events are added.
- Old events need to be removed.
- Edit and promote current and upcoming events.

@thisisayush Add Help Needed tag and yayy 100th issue

[2018-03-31 02:59] vipulgupta2048 opened #101 "[Change] Fork me on Github"
- Found a cool new "Fork me on Github" icon that is implemented both on the new Pyladies website and Pydelhi Website. It looks better and can be customized according to our website.

- Add the icon and define a correct position for it.

[2018-04-01 03:47] JoyBhalla commented on #89
Can i work on this ?

[2018-04-01 03:55] thisisayush commented on #89
Sure. Let me assign it to you.

[2018-04-01 04:01] thisisayush commented on #89
Do keep posting updates :)

[2018-05-17 12:55] thisisayush commented on #89
Fixed in #102

[2018-05-17 12:55] #89 closed

[2018-05-18 04:45] JoyBhalla commented on #97
I can do this,and i've recently seen various contact us animations that look very slick,can i try it here ?

[2018-05-18 05:29] vipulgupta2048 commented on #97
Go for it. Keep us posted.

[2018-05-30 03:47] vipulgupta2048 opened #105 "HTTPS incorrectly configured"
Error comes up when going to https://asetalias.in

[2018-05-30 05:38] JoyBhalla commented on #97
Can someone else take this  ? Busy with internship and other OSS projects.

[2018-05-30 11:33] omi10859 opened #106 "Latest Webinar not listed on Website"
Our latest webinar is not listed on Website
Video link: https://www.youtube.com/watch?v=vjuQFOEMB0Q

[2018-05-30 11:34] omi10859 commented on #106
Please add good first issue tag

[2018-06-03 07:47] omi10859 opened #107 "Links are not clickable in communities section"
Links are not working in the description, for communities here http://asetalias.in/communities.html
Json file http://asetalias.in/data/communities.json also need to be fixed for using a href form links instead of this  **Website:**[http://ilugd.github.io](\"http://ilugd.github.io\")"

[2018-06-03 07:49] omi10859 commented on #107
We need to fix it asap as we are using JSON for our app also

[2018-06-03 08:04] thisisayush commented on #107
Thanks for reporting it @omi10859 . Will fix it ASAP.

[2018-06-03 09:06] utkarsh2102 commented on #96
If correctly inferred, we have to change the data and the logo of some of the organisations, right?

[2018-06-03 13:46] vipulgupta2048 commented on #96
Yes, start with that and keep us updated on any challenges you face.
What you should have in mind:-
1. All data, of all communities is to be updated, accurate and clean to the
best of your knowledge. Scour all the places you know to find more
communities.
2. Every community should atleast have a description, their logo, and how
to join with a website link.
3. Improve the UI so that it matches with

[2018-06-03 14:51] utkarsh2102 commented on #96
Why do we need another page for community?
Why can't we simple re-direct to the community's original site when clicked?

[2018-06-04 03:13] #106 closed

[2018-06-04 19:27] omi10859 commented on #107
If no one is taking up this task, please assign to me lets see what I can do. @thisisayush
Also, @Tanya-Jain what about the new version is it ready?
- Are you using StaicJinja?
- Are you using same JSON files? As they are used in our app if not you need to inform us.

[2018-06-05 02:40] vipulgupta2048 commented on #96
When clicked what ? Yes, we could. What if they don't have a website.

[2018-06-05 04:43] thisisayush commented on #107
@omi10859 Please post the changes you're going to do before taking up the issue. Keep in mind the text is stored in Markdown Format in JSON Files and is parsed and converted to HTML during the build.

[2018-06-05 07:50] omi10859 commented on #107
I was thinking to use simple [bootstrap cards](https://getbootstrap.com/docs/4.0/components/card/) and simple text in JSON.
@utkarsh2102 would you like to take up this task?

[2018-06-05 08:11] Manas-kashyap commented on #101
I would like to take this task

[2018-06-05 10:18] utkarsh2102 commented on #96
@vipulgupta2048, most of the communities have a website now.
If they don't, let's talk to the head and get it done? :/

@thisisayush, every section has a `About Us` section.
They do get a very clear idea after reading the same.
Plus, we do keep posting about the meetups from time-to-time. So doesn't it becomes an unnecessary page to keep?

[2018-06-05 11:35] omi10859 commented on #101
so, how you are planning to do the task @Manas-kashyap

[2018-06-05 16:40] vipulgupta2048 commented on #96
I would rather go for having the Communities page as a person being new to ALiAS and open-source who would need quick reference of all communities outside of Amity then finding exceptions of why the page is unnecessary.

Websites take time, care and a lot of patience to get built in Communities and especially open-source. Go ahead if you want to volunteer for the task. I see you already have some

[2018-06-05 16:44] vipulgupta2048 commented on #101
Thanks @Manas-kashyap for showing your interest in the same. Please go ahead. Make sure to go through the Readme.md before proposing a PR.

[2018-09-13 04:41] bhanuvrat opened #112 "about.me link for Rohit Goyal is incorrect."

[2018-10-02 07:41] #112 closed

[2018-10-02 07:41] thisisayush commented on #112
Closed on request by @atb00ker

[2018-10-02 19:00] akshat0047 commented on #93
Taking this issue

[2018-10-05 05:48] thisisayush commented on #107
@sagarkansal are you working on the issue?

[2018-10-05 07:02] sagarkansal commented on #107
Yes i am working on that . Will commit ASAP

On Fri 5 Oct, 2018, 11:18 Ayush Agarwal, <notifications@github.com> wrote:

[2018-10-05 17:07] atb00ker opened #118 "[performance] website takes a lot of time to load"
Consider reducing the same

[2018-10-07 02:47] thisisayush opened #122 "Nidhi Mam's Photo is missing from the images"
Fixed in #121

[2018-10-07 02:47] thisisayush commented on #122
Assigned to @vips28

[2018-10-09 02:13] thisisayush commented on #122
Fixed.

[2018-10-09 02:13] #122 closed

[2018-10-09 06:07] atb00ker opened #123 "[enhancement] member blogs"
As per the disscussion with @anuvrat on Oct, 8'2018 during community call.
A member activity blog would be a great idea, take inspiration from pydelhi blogs: https://pydelhi.org/blog/?ref=home

All the members from second and third year are requested to write multiple 300-400 word tweet-like small blogs to help encourage newcomers. Example (from my personal experience, yours might be completely di

[2018-10-11 14:17] thisisayush commented on #100
For information on updating events refer to: https://github.com/asetalias/asetalias.github.io/wiki/Site-Management:-Events

[2018-10-19 07:58] thisisayush commented on #100
Thanks @utkarsh2102.

[2018-10-19 07:58] #100 closed

[2018-10-20 22:29] vipulgupta2048 opened #128 "Housekeeping is here for .git"
As a repository becomes older and older. The number of commits, branches, assets stored takes a toll on git. The biggest strength of git is also its biggest flaw. It remembers everything.

Well, only until one authorizes it to forget.

**Task**
Follow the guide to reduce the size of .git folder in the repository (Which is now 22.7 mb) to somewhat lesser than that.

To help here are some great guid

[2018-10-21 06:05] vipulgupta2048 opened #129 "Build Script error"
Check it out,
[code]

[2018-10-21 06:42] thisisayush commented on #129
Hi. Please update your libraries with latest requirements file. StaticJinja version was recently updated. Close the issue if it fixes the error.

[2018-10-21 10:15] vipulgupta2048 commented on #129
That did it.
Closing #129

[2018-10-21 10:15] #129 closed

[2018-10-22 23:39] vipulgupta2048 opened #132 "[Proposal] To keep Thursday meetups as passive event on website"
**Discussion on passive events**
- How about keeping the Thursday meetups as our passive event on the website.
- Maybe make a poster that could be updated on the website after every event and stay there till the next event.
- Everyone one who visits the website can check it out, and then ask about the fine details on the group.
- This would lead to making the Thursday meetings, be more structured

[2019-01-05 16:00] Kaushl2208 opened #135 "[Proposal] Add Code of Conduct"
To add Code of Conduct for the community.

[2019-01-07 04:45] thisisayush opened #137 "Setup automatic build of StaticJinja through tags per PR"
Many first-time contributors find it hard to set up the complete build environment, I suggest creating a mirror repository on Gitlab to automatically build the HTML when changes are pushed to the repository or a tag is created. This will encourage more first-time participation.

[2019-01-07 04:47] thisisayush commented on #132
LGTM. Setting a specific time (say 2 PM) would make it more organized.

[2019-01-20 12:32] vipulgupta2048 commented on #83
This has been completed, isn't it?

[2019-02-04 09:20] thisisayush commented on #135
Code of conduct was added in #136

[2019-02-04 09:20] #135 closed

[2019-02-18 22:18] akshat0047 commented on #123
Community Unpacked
==================

The first time, getting introduced to the world of development, it left me amazed! I explored a number of technologies in the initial days of my B.Tech just for the sake of knowledge and after working on few of them at last chose, web development as my primary field.
One of my classmate suggested me to join ALiAS, a coding community of Amity University, Noida

[2019-02-19 06:29] vipulgupta2048 commented on #123
Thanks @akshat0047,
But time and again, I have told you to read the README of the [ALiAS blog](https://github.com/asetalias/ALiAS_Blog/blob/master/README.md) and make a *PR* there.

Here are the instructions that you need to follow, clearly listed [here](https://github.com/asetalias/ALiAS_Blog/blob/master/README.md).

Please make a Pull Request.

[2019-02-19 06:30] vipulgupta2048 commented on #123
Alongwith, this issue can be put to rest since we have begun initiation of https://github.com/asetalias/ALiAS_Blog

[2019-02-19 06:33] akshat0047 commented on #123
ok, will follow the same on the blog repo as soon as possible.

[2019-05-21 11:04] thisisayush opened #145 "Parse new blog posts and display on website"
Now that the blog is installed at http://asetalias.in/blog, it would be good to display it's link somewhere like the Menu?

[2019-06-07 18:25] vipulgupta2048 opened #146 "Facebook not showing up!"
Check this out!
Who uses Facebook anyways, let's have our own blog feed linked to this.
![Screenshot_2019-06-07_23-45-22](https://user-images.githubusercontent.com/22801822/59125360-c2966980-897f-11e9-8223-7857239fa18a.png)

CC: @thisisayush

[2019-06-08 09:05] thisisayush commented on #146
Seems okay here. You sure it's not a slow connection or adblocker something?

![image](https://user-images.githubusercontent.com/22245433/59144930-86541f00-89fa-11e9-8a6d-9a5f3de8f71f.png)

[2019-06-10 04:37] thisisayush commented on #146
@vipulgupta2048 Any update on the issue?

[2019-06-10 04:43] thisisayush opened #147 "[REDESIGN] Home Page Hero Section"
Proposed layout for hero section

Current:
![image](https://user-images.githubusercontent.com/22245433/59172910-1a8fc480-8b68-11e9-812b-ff06234e88a9.png)

Proposed (Something Like):
![image](https://user-images.githubusercontent.com/22245433/59172930-38f5c000-8b68-11e9-8ac0-5772626b853e.png)

We split this into two sections, the left and right. A little skewed. Left m we place the text in bold and

[2019-06-10 05:46] a4aditya opened #148 "[REDESIGN] Making a Popup Box for Upcoming Events"
Integrating a Popup box for upcoming events at the start of the website. Any suggestions related to code or design are most welcome!!

[2019-06-10 06:50] vipulgupta2048 commented on #146
Adblocker roger that, closing.

[2019-06-10 06:50] #146 closed

[2019-06-10 07:29] thisisayush commented on #148
https://github.com/asetalias/asetalias.github.io/blob/master/templates/components/_header.html#L17-L24

@a4aditya This is the part you are looking for.

And this is where you can find the js which decides if it's visible or not
https://github.com/asetalias/asetalias.github.io/blob/master/js/functions.js#L1-L18

[2019-06-10 11:12] vipulgupta2048 commented on #83
AGAIN, this has been completed. Closing...

[2019-06-10 11:12] #83 closed

[2019-06-10 11:14] vipulgupta2048 opened #149 "[Redesign] Add page for Frequently Asked Questions."
A page where new and old members both could be redirected to for answering their basic queries and not repeating all the while.

Akshat Sachan will be working on the issue, to provide the necessary content both for the blog and website.

[2019-06-10 13:44] sachanakshat commented on #149
Thank you.
I am on it! Any suggestions, improvements and more questions are requested.

[2019-06-10 13:56] vipulgupta2048 commented on #149
Thanks for taking it up, you can work with the Redesign team and start working immediately.

[2019-06-11 19:45] vipulgupta2048 opened #152 "[Redesign] Suggestion: To add a supporters section"
- A separate section of people probably after Alumni with their photos who support ALiAS and its growth, to show our gratitude towards them for their dedication and trust.
- Secret implementation will reveal later of why it is needed.

[2019-10-01 08:28] hemanthtech opened #154 "Meta tags"
i suggest you to use https://megatags.co  for best meta tags

and use this also https://www.seoptimer.com/meta-tag-generator

[2019-10-02 08:49] iryanjan18 commented on #105
Is this still an issue?

[2019-10-02 08:53] iryanjan18 commented on #107
Not yet fixed?

[2019-10-02 17:37] thisisayush commented on #105
Fixed. Thanks for bringing it to notice. Closing it now.

[2019-10-02 17:37] #105 closed

[2019-10-20 03:04] thisisayush commented on #154
That's actually a good idea for the SEO of the website.

[2019-10-20 03:07] thisisayush commented on #137
Let's setup travis instead. Anyone up for the job to automatically build the code when pushed?

[2019-10-20 03:08] thisisayush commented on #145
@vipulgupta2048 Any suggestions on 3rd Party service? The Link's been already added to menu.

[2019-10-20 03:09] thisisayush commented on #148
@a4aditya any update?

[2019-10-20 03:11] thisisayush commented on #123
Shall we close the issue now, since the blog is up and running? We can add it to README on how to add your blogs to ALiAS.

[2019-10-20 03:19] a4aditya commented on #148
I will update you in a week and hopefully a pull request in a week or so

On Sun, Oct 20, 2019, 8:39 AM Ayush Agarwal <notifications@github.com>
wrote:

[2019-10-20 05:54] vipulgupta2048 commented on #137
On it, if no one takes it up.

[2019-10-20 06:07] vipulgupta2048 commented on #145
Noice, PyCon uses something called Whirlwind with their Pelican generated
blogs. Let's see what works best with Hugo

We can be using feed2JS or feed.js
Need to make an RSS feed for the Hugo blog though, if not already
generated. Lemme look around, assign me to this.

On Sun 20 Oct, 2019, 8:38 AM Ayush Agarwal, <notifications@github.com>
wrote:

[2019-10-20 06:29] vipulgupta2048 commented on #123
Yo, let me just link that, the contributor guide for the blog is on the blog.

[2019-10-20 06:44] vipulgupta2048 commented on #123
![Screenshot_2019-10-20_12-13-50](https://user-images.githubusercontent.com/22801822/67155791-20c25880-f333-11e9-8d7b-ced2963b2d12.png)
Just gonna leave it here, I don't like to commit image files, anymore.

[2019-10-20 06:51] vipulgupta2048 commented on #123
![Uploading Screenshot_2019-10-20_12-20-17.png…]()
Another one.

[2019-10-20 06:59] vipulgupta2048 commented on #123
tick

[2019-10-20 06:59] #123 closed

[2019-10-20 07:17] vipulgupta2048 commented on #137
On second thought, this will make contribution easier. But, only if the people are making changes in the right file. We need to do something about static and templates.

[2019-10-20 07:24] Sc0rpi0n101 commented on #152
Ooh 👀👀
I'd like to help with this.

How about a quote/comment from the Alumnis along with the pictures?

[2019-10-20 14:20] vipulgupta2048 commented on #152
Thanks, this supporters section is a bit different. The supporters are the people who paid for the supporter pack of ALiAS swag. We have the list. Right now, you can make a smaller version of the alumni section or a different page altogether. However you want to design it. Let us know.

[2019-10-20 18:24] vipulgupta2048 commented on #147
@Sc0rpi0n101 Also, please start the discussion. Someone needs to start the fire of rebuilding the website. At this point, I am just hoping to do whatever it takes.

[2019-10-21 18:00] vipulgupta2048 commented on #137
Update: we are also considering GitHub Actions.
Courtesy: Ex-VIP-VP @parthsharma2 :hatching_chick:

[2019-10-24 13:45] Sc0rpi0n101 commented on #132
Great idea.
I'd also suggest a mention of the Saturday weekly calls somewhere. We also need to get the calls a little more organized.

[2019-10-24 20:15] vipulgupta2048 commented on #132
2 Flashcards then, one for an offline local event, one for online events and free to watch.

[2019-10-28 12:45] SuvamPrasd opened #172 "[ENHANCEMENT] add footer at the bottom of the index.html"
There should be a footer at the bottom of the index.html page. So, I am going to add the footer i.e, ©2019 ALiAS Pvt. Ltd. at the bottom of the homepage.

[2019-10-28 13:05] vipulgupta2048 commented on #172
Hello @SuvamPrasd, thanks for contributing to ALiAS.
We already have a footer and a PR open to refactor it #165
ALiAS is an open-source college community, not a private corporation or a company. Here's a definition of what `Pvt Ltd.` is entitled for.

[code]
We would love your help in solving other issues. Please [check and comment](https://github.com/asetalias/asetalias.github.io/issues) to get m

[2019-10-28 13:05] #172 closed

[2019-10-28 13:52] vipulgupta2048 commented on #137
So, there is a bit of a hiccup with Travis. As you can see I have got it working. But, for Travis to move over to the deploy part we need to give an output out of the build.py script. Whereas the build.py finishes execution with this as the last line `Press Ctrl + C to stop`

Need help regarding how to emulate the keystroke through the .travis.yml file and then deploy merged PR's on GitHub Pages.

[2019-10-30 16:20] vipulgupta2048 opened #174 "Create page/section for ALiAS Swag"
Due to a lot of requests from people to get the ALiAS swag pack, I think it would be a great idea if we could host a passive form on the website itself. That way, anyone interested can add their name to the list and get one.

What say?

[2019-11-06 09:06] #90 closed

[2019-11-06 12:43] vipulgupta2048 opened #175 "Create pull request templates"
This is needed for a while now since no one actually reads the Wiki guide, we have for contributors.

[2019-11-06 12:44] vipulgupta2048 opened #176 "Create Issue Templates"
Maybe overkill, since I am the only one opening issues and closing them.
But, needed nonetheless.

[2019-11-06 12:50] vipulgupta2048 commented on #176
Also, @thisisayush I think we should copy the parts of the Wiki guide into a file called CONTRIBUTORS, that way GitHub auto-detects it and shows it to people on the right when they are opening new PR's or issues. It might be good that way.

[2019-11-06 21:28] vipulgupta2048 opened #179 "Update Webinars Sections"
ALiAS organizes several webinars. But, the list hasn't been updated for quite a long time.

**Task**
- Visit ALiAS Youtube Channel
- Grab details of new webinars that are not present in on the website
- Add details in the relevant `.json` file present in `data/` directory.

[*](https://github.com/TanyaaCJain/asetalias.github.io/blob/9c6c096c14f745e9f5a8a2328ecdb7e88a53bea6/data/webinars.json)

[2019-11-19 14:36] vipulgupta2048 commented on #88
Closing .. because we don't have active projects on GitLab
(Not that I know off)
(And, probably none active)

[2019-11-19 14:36] #88 closed

[2019-11-25 17:56] vipulgupta2048 commented on #149
@Sc0rpi0n101 Any progress on this

[2019-12-05 14:17] thisisayush opened #186 "Take up Long Dead PRs"
There a lot of PRs lying there dead since contributors are not able to give time to those issues, if you're a first-time-contributor or looking for "where to start" or just simply want to contribute to ALiAS because I know it's awesome, taking over these PRs would be good.

List of PRs that have not received any communication back from 1+ months:
- [x] #164
- [x] #159
- [x] #158
- [x] #157
- [x] #

[2019-12-05 14:26] thisisayush commented on #96
Validating Tasks to be done and tasks done in #177

- [ ] Add Mozilla Delhi Open Community [https://wiki.mozilla.org/India/Delhi]
- [ ] Add PyData Delhi Community
- [ ] Add Women Who Go Delhi
- [ ] ILUG-D has changed its logo (Need to be updated)
- [ ] ILUG-D, strangely enough, has the same description as PyDelhi. Change it (Time to git blame)
- [ ] PyDelhi [Description updated here]
- [ ] Improve

[2019-12-05 14:32] thisisayush commented on #101
@vipulgupta2048  We still doing this?
Also, @Manas-kashyap Any update if we're still doing this?

[2019-12-05 14:33] thisisayush commented on #97
Closing this now. Thanks to @vipulgupta2048 for their contribution.

[2019-12-05 14:33] #97 closed

[2019-12-05 14:37] thisisayush commented on #174
I say "Closing this" and labelling it "invalid" :P

[2019-12-05 14:37] #174 closed

[2019-12-05 14:38] thisisayush commented on #175
Closing this

[2019-12-05 14:38] #175 closed

[2019-12-05 14:38] thisisayush commented on #176
Closing this.

[2019-12-05 14:38] #176 closed

[2019-12-05 14:43] thisisayush commented on #148
@a4aditya You still working on this?

[2019-12-05 20:06] vipulgupta2048 commented on #186
Close them all, #180 solves them. Just checked, except if we want to add COS as mentioned in #159
#113 has already been taken care of by #177

![](https://cultofthepartyparrot.com/parrots/hd/sassyparrot.gif)

[2019-12-06 05:29] thisisayush commented on #137
Travis implemented for automated build and deployment. Thanks to @vipulgupta2048. Closing this now.

[2019-12-06 05:29] #137 closed

[2019-12-06 05:30] thisisayush commented on #107
Fixed in bb3af45475649f17ce9ccc0247f8dc6029d52a38
Closing now.

[2019-12-06 05:30] #107 closed

[2019-12-06 05:32] thisisayush commented on #186
Converted it to list. Let's cross out what all is done.

[2019-12-06 05:39] #179 closed

[2019-12-06 07:11] foxtrot12 opened #189 "[Redesign]-- Change default avatar of alumni section"
Changing default avatar of alumini section
![Screenshot at 2019-12-06 12-40-12](https://user-images.githubusercontent.com/43786672/70303443-b18ebe00-1825-11ea-86fa-47f8afbc4119.png)

[2019-12-06 07:17] Nikhil-Soni-21 opened #190 "Revamp the Communities Page (Discussion)"
Need To Change the Layout of Community Page

[2019-12-06 07:26] foxtrot12 opened #191 "[Discussion] Discuss open source programs and communities. Also, discuss how they’ll be presented"

[2019-12-06 07:31] rohanvtk opened #192 "[Base Issue] Discuss Base Theme and UI"
* Hero Section [#147]
* Section
    - Journey
    - Why should I Join
* Team Section/Page [#193 ]
* Event Section/Page [#95 ]
* Webinar Section/Page [#194 ]
* Communities Page [#191 ]
* Open Source Programs [#191 ]
* UI Functionalities [#192 ]
    - Header/Menu
    - Footer
    - Colors
    - Layouts → Card, flat, etc
    - Meta Tags
* Project Section/Page [#195 ]

- [x]  Hero Section

- [ ]  Sect

[2019-12-06 07:31] Nikhil-Soni-21 opened #193 "Change Alias Team Page"
Modify and Redesign Team Page

[2019-12-06 07:37] Sc0rpi0n101 opened #194 "[Discussion] Webinar Page"
Create a new page for previous webinars and move the existing webinars to the new page from Home page.

Discuss the theme of the page

[2019-12-06 07:39] Sc0rpi0n101 opened #195 "[Discussion] Revamp Projects Page"
Discussion for the new theme and design of Projects page

[2019-12-06 07:46] thisisayush commented on #192
This issue will serve as a base issue to get into specific issues for each section and/or part of the website.

[2019-12-06 07:50] a4aditya opened #196 "Porting to Bootstrap4"
Porting the original website from bootstrap3  to bootstrap4

Section to Port:
- [ ] [_alumni.html](https://github.com/asetalias/asetalias.github.io/blob/master/templates/home-sections/_alumni.html)
- [ ] [_events-participate.html](https://github.com/asetalias/asetalias.github.io/blob/master/templates/home-sections/_events-participate.html)
- [ ] [_events.html](https://github.com/asetalias/asetalia

[2019-12-06 08:51] sksuryan commented on #147
![Design - 1](https://user-images.githubusercontent.com/42460131/70308923-52837600-1832-11ea-8b80-125299b00d63.png)
![Web 1920 – 1](https://user-images.githubusercontent.com/42460131/70308936-5b744780-1832-11ea-84eb-58af4a0719f2.png)
Designs for the Home Page Hero section. Looking forward for your feedback and suggestions.

[2019-12-06 10:46] thisisayush commented on #147
The second One looks neat with the social bar from the first one.
Also, can we use something else instead of those tech icons in the bottom right?
Third, what about the mobile layout? How will it look there?

[2019-12-06 10:58] sksuryan commented on #147
Still working on the Mobile layout.
Also, what else do you want to add to the bottom right instead of the icons?

[2019-12-06 19:40] sksuryan commented on #147
![iPhone X-XS-11 Pro – 2@2x](https://user-images.githubusercontent.com/42460131/70350692-319c3e80-188d-11ea-8f46-7e7b795fc800.png)
![iPhone X-XS-11 Pro – 1@2x](https://user-images.githubusercontent.com/42460131/70350696-3234d500-188d-11ea-8975-80de17b43ba5.png)

![iPhone X-XS-11 Pro – 5@2x](https://user-images.githubusercontent.com/42460131/70350787-77f19d80-188d-11ea-9fde-503844f5a916.png)
![iPho

[2019-12-07 12:48] swarnimarun commented on #147
Not sure but maybe something simpler like this would look better,
![image](https://user-images.githubusercontent.com/19930870/70374696-85edff80-191b-11ea-8a27-f1dfd5f1bff2.png)
![image](https://user-images.githubusercontent.com/19930870/70374883-b040bc80-191d-11ea-84e7-729ef70aefe4.png)
![image](https://user-images.githubusercontent.com/19930870/70374864-98693880-191d-11ea-8d9e-4bdeee1648cb.png)

[2019-12-07 16:33] vipulgupta2048 commented on #174
Roger that.

[2019-12-07 17:06] vipulgupta2048 commented on #189
:+1:

[2019-12-11 14:40] Nikhil-Soni-21 commented on #147
Second one looks great.

[2019-12-12 12:58] thisisayush commented on #147
So we've 3 votes on the second one.

[2019-12-12 13:00] thisisayush commented on #147
Second one looks good, but I find swarnim one a bit clean in desktop view. Maybe we can take the best of both? Simple and Clean from Swarnim's, social bar from 1st one and menu from second one?

[2019-12-12 15:36] sksuryan commented on #147
I think, Swarnim's hamburger menu looks good for mobile..

[2019-12-17 14:44] foxtrot12 commented on #189
![foxtrot12 github io_asetalias github io_](https://user-images.githubusercontent.com/43786672/71005484-bdbe2980-2109-11ea-854c-3007269629fd.png)
How about this?
I used the cards from projects section and edited them a little.

[2019-12-30 14:42] sksuryan commented on #147
![Web 1920 – 1](https://user-images.githubusercontent.com/42460131/71586577-bd2d8600-2b40-11ea-99cf-f8b0ab9f87d4.png)
![iPhone X-XS-11 Pro – 1](https://user-images.githubusercontent.com/42460131/71586582-bf8fe000-2b40-11ea-8408-26f9e07788fc.png)

[2019-12-30 18:07] Sc0rpi0n101 commented on #147
How about we keep the buttons the same as the previous design?

Can you change the background color of the right side from black to the current color of the hero section? How does that look?

[2020-01-01 11:42] sksuryan commented on #147
![Web 1920 – 2](https://user-images.githubusercontent.com/42460131/71640934-9fcff780-2cb9-11ea-8ac4-40faeeec3a48.png)
upon taking the feedback into account, this is what I came up with.

[2020-01-02 12:49] Sc0rpi0n101 commented on #147
You changed too much bro.
The sidebar looks better to the right :+1:
But the straight split through the middle looks kinda dull.
Can you bring back the slanted split?

Also, can you use the Join now & know more placements from this one?

[2020-01-02 13:58] sksuryan commented on #147
Alright bro, I'll make the changes needed..

[2020-01-02 15:53] sksuryan commented on #147
![Web 1920 – 3](https://user-images.githubusercontent.com/42460131/71676274-d1be8800-2da5-11ea-9490-9fffb7ead69d.png)
![Web 1920 – 4](https://user-images.githubusercontent.com/42460131/71676275-d3884b80-2da5-11ea-870c-7786c74d86e7.png)
These are the two mock ups with only difference being the placement of the call for action buttons..

[2020-01-03 06:53] thisisayush commented on #147
I vote for the first one

![image](https://user-images.githubusercontent.com/22245433/71710657-6fa46800-2e23-11ea-9311-3dc5ee87a59d.png)

[2020-01-03 10:06] Sc0rpi0n101 commented on #147
Great
So, if no one else has any more suggestions,
Let's implement that @sksuryan

[2020-01-03 11:23] vipulgupta2048 commented on #186
Only took a month to finish all the issues, PR's and old data problems that we were facing.
Full steam ahead for v2 (or is it v3 now)?

[2020-01-03 11:23] #186 closed

[2020-01-03 11:23] vipulgupta2048 commented on #98
:heavy_check_mark:  #200

[2020-01-03 11:23] #98 closed

[2020-01-03 11:27] vipulgupta2048 commented on #101
Technically speaking, I actually deleted the button from the Footer. So this issue doesn't exist.
Closing, as the Fork me on GitHub, is kinda pointless.

[2020-01-03 11:27] #101 closed

[2020-01-03 11:28] vipulgupta2048 commented on #132
Didn't we finish this as well? Closing in favor of #166

[2020-01-03 11:28] #132 closed

[2020-01-03 12:12] vipulgupta2048 commented on #154
@hemanthtech Would you like to take this up?

[2020-01-03 12:15] hemanthtech commented on #154
Yes sure

[2020-01-03 13:00] vipulgupta2048 commented on #154
Thanks for responding, go ahead open a PR for this.
Also, we need some help regarding design as we are updating the site. If you like to contribute more, check out the issues that are open at the moment. It would be great to have folks like you contribute.
Thanks again!

[2020-01-03 13:07] hemanthtech commented on #154
Yes can i get to know what are you ideas for the design

[2020-01-03 14:19] sksuryan commented on #147
So, the font used is Lilita One for welcome message, and Montserrat for everything else..

[2020-01-03 14:47] Sc0rpi0n101 commented on #147
You can work on that, right?
or do you want someone else to work on it if you don't have the time?

[2020-01-03 14:58] sksuryan commented on #147
It's actually been just over a month, since I got started with web development, so, I'll need some time, if that's not a problem..

[2020-01-03 14:59] Sc0rpi0n101 commented on #147
No, it's not a problem.
No one else is doing anything anyways. xD

[2020-01-03 15:01] Sc0rpi0n101 commented on #147
If you run into any problem, just create a WIP Pull Request and the others can help you with that.

[2020-01-03 15:03] sksuryan commented on #147
Alright..

[2020-01-03 15:08] Sc0rpi0n101 commented on #147
Can someone assign this to @sksuryan

[2020-01-03 15:19] Sc0rpi0n101 commented on #128
Wait, how is this a good first issue?
For people who don't have much experience with Open-source & prob git and are looking for thier first issue, housekeeping git might not be the right thing to start on xD.

[2020-01-03 15:22] vipulgupta2048 commented on #154
Thanks, please checkout the issues. Specifically #147 as we are finalising the Hero Page section. You can DM me here (https://bit.ly/z2048) and we can get you added to the workgroup on Whatsapp. If you like to commit, there is good work to be done.

[2020-01-03 22:37] vipulgupta2048 commented on #128
I agree, I had a perspective of someone be able to learn more about git, amd how it works internally by doing this task. Reassessing, yes definitely not a good first issue

[2020-01-17 14:58] vipulgupta2048 opened #208 "Proposal to add IMGBOT"
**Is your feature request related to a problem? Please describe.**
Proposal to add https://github.com/apps/imgbot
Became available in recent Github Developer Pack
Optimizes images on the fly, bye-bye repo size increasing.

**Describe alternatives you've considered**
Alternatives are we can optimize images through jpegoptim or pngoptim utilities which are redundant and can be automated.

[2020-01-20 12:50] nmay231 commented on #128
Well, I was just taking a look to see how reasonable it would be to work on this and I don't know if it is honestly. It looks like most of the large size is due to existing/previous versions of existing images.

I just made a fresh clone, then ran

[code]

to get the shas of the largest 150 commits. Then to get the file names,

[code]

It looks like most of them are presently existing files in `im

[2020-05-27 00:33] longevitytina commented on #190
Hi, are there any more details? I'm looking to contribute, but not sure what this is referring to.

Thanks!

[2020-06-01 01:15] thisisayush commented on #190
Hi @longevitytina ,
Thanks for picking up this task. What we're looking for is some new design and layout for the communities page (https://asetalias.in/communities.html)

There's an ongoing discussion on Revamping the hero section of the home page, so maybe we can follow the same design pattern for the communities page too? Checkout #209

TLDR; you're free to design the page as you see fit as lon

[2020-06-02 04:12] longevitytina commented on #190
Hi @thisisayush,
I'm thinking of trying to make the page a bit more compact with each community as a small card component, here's a quick sketch:

<img width="589" alt="Screen Shot 2020-06-01 at 9 11 11 PM" src="https://user-images.githubusercontent.com/49009626/83479100-796edd80-a44c-11ea-94f4-86663724c6d9.png">

[2020-06-03 01:44] thisisayush commented on #190
This looks ok, but can you maybe provide a little more space for description? The page aims to be a guiding and starting point to open source communities for the beginners, so we need to accomodate enough info. Also, do check the data json file for the communities to see if your design is compatible with the data or if data needs to be modified in any way.

[2020-06-03 06:54] Sc0rpi0n101 commented on #190
I think it might be better to have two tiles per line instead of three with some margin on either side and between them. That will look better and give us a lot of space for the description also. If any of the descriptions don't fit there, it's too long anyway IMO. we should shorten that.

I also think we should have a different section for conferences. I don't think PyCon India is a 'community' p

[2020-06-05 16:25] Sc0rpi0n101 commented on #192
@rohanvtk Can you also add a checklist of all the pages so that we can keep a track of the progress?

[2020-06-05 16:28] Sc0rpi0n101 commented on #195
This page is currently not too useful with a couple of ALiAS projects which are not even active and two other projects.

I'm thinking we can use this page as a reference to all the projects ALiAS members have created or contributed to. The members can add their projects here.

Whenever someone asks to suggest some open source projects to start contributing to, we can refer them to this page.

[2020-06-05 16:29] Sc0rpi0n101 commented on #195
CC: @vipulgupta2048 @thisisayush

[2020-06-05 19:49] vipulgupta2048 commented on #195
+1 on transforming this page into sourcing projects that everyone makes as a public directory. Maybe divide it as per beginner, intermediate, and advanced. To save up on effort, we can have a nice README instead on a new repo. What say?

[2020-06-06 12:04] Sc0rpi0n101 opened #217 "[Enhancement] Adding new communities and conferences to the Communities page."
With the changes in #215 and #216, we'll be splitting the Communities page into two sections namely Communities and Conferences. Currently, the page only features one Conference, PyCon India. We need to add more conferences, and can even add more communities.

If anyone has any communities or conferences in mind that should be represented on our website. Please add a reference to those in this Iss

[2020-06-06 12:14] Sc0rpi0n101 commented on #195
I'm not sure how would we divide projects into these categories. All the projects will probably have some beginner, intermediate, and advanced issues. So, I don't know how we can accurately classify the projects.

A readme for what exactly? If you mean a readme to list the projects, what will we do with the projects page then?

[2020-06-08 06:31] rohanvtk commented on #192
@Sc0rpi0n101 done!

[2020-07-01 07:51] ritwik9857 commented on #190
Hey! Is this issue still up for grab?
I want to have a go at it. Please let me know if I can take this up.

[2020-07-02 01:29] Sc0rpi0n101 commented on #190
Hi @ritwik9857

This has already been done in #216. But if you'd still like to help, there are a lot of other pages we would appreciate your help with.

You can check out #192 and see which page/section you can help us with.

[2020-07-02 07:22] ritwik9857 commented on #192
I would like to work on #192 - UI functionalities but I am not sure what exactly is required to achieve here,
I am new to open source contribution. Would be a great help if someone can assist in the same. Thank You!

[2020-07-02 09:50] Sc0rpi0n101 commented on #192
Hi @ritwik9857,

The whole purpose of this is to revamp our website, which you can check at https://asetalias.in/
So, you can pick any of the sections of the home page and help us redesign that. You can check #209 for reference to see the hero section redesign.

You can check the [GitHub Workflow Guide](https://guides.github.com/introduction/flow/) for getting started.  There are also other guides

[2020-07-04 05:47] Sc0rpi0n101 commented on #190
I'm closing this as this is done in #216

[2020-07-04 05:47] #190 closed

[2020-07-05 03:49] Sc0rpi0n101 commented on #192
Hi @ritwik9857, have you found something you'd like to help with?

[2020-07-05 07:24] ritwik9857 commented on #192
Hi @Sc0rpi0n101
I am currently trying to run this project on my local machine and once it runs I will try to visit it thoroughly and then I will see the places where I can contribute.

[2020-07-05 07:37] ritwik9857 commented on #192
I am thinking to take up on #191
Can I get more information into this issue?
As in what are the requirements or how this page should look so that I can start on that accordingly

[2020-07-06 19:28] Sc0rpi0n101 commented on #195
Hey @ritwik9857,

thanks for showing interest in this issue. For reference, this is how the page looks currently.
You are free to design the page as you wish, as long as all the members agree to that. But, looking at how the current redesign is going, you should keep the theme and color scheme somewhat similar to https://asetalias.in/communities.html.

You can update the tile style as you seem fit

[2020-07-06 19:28] Sc0rpi0n101 commented on #192
I've commented on the issue about all this, you can check that out.

[2020-07-06 19:32] Sc0rpi0n101 opened #219 "[Enhancement] Adding projects to the Projects page"
Hi all,

We plan to make our projects page a hub for our community members to find open source projects to contribute to. Please add any open source projects you have created or are contributing to that you would like our community members to explore.

Please provide the project and organization name and the link to the project repository in this issue and we'll add it to the projects page.

[2020-07-06 19:34] Sc0rpi0n101 commented on #191
Closing this as this was done in #216

[2020-07-06 19:34] #191 closed

[2020-07-06 19:35] Sc0rpi0n101 commented on #147
Done in #209. Closing this now

[2020-07-06 19:35] #147 closed

[2020-07-06 19:39] Sc0rpi0n101 opened #220 "Update the previous events page as per the current theme"
The previous events page was designed as per the previous theme. The page also needs to be updated as per the current redesign of the website.

[2020-07-06 19:42] Sc0rpi0n101 commented on #152
Do we still plan to do this?
cc: @vipulgupta2048

[2020-07-06 21:07] vipulgupta2048 commented on #152
Yeah, for sure. Doesn't hurt to have something like this.

On Tue 7 Jul, 2020, 1:12 AM Nikhil Maan, <notifications@github.com> wrote:

[2020-07-08 02:58] Blaster4385 commented on #219
Name-: Venkatesh Chaturvedi
Project-: Custom Android Kernel
Repository-: https://github.com/Blaster4385/sdm710rm3pro

[2020-07-08 12:19] Sc0rpi0n101 commented on #219
Here are some from me:

SymPy: https://github.com/sympy/sympy
afrost website
frontend: https://gitlab.com/afrostorg/icing
backend: https://gitlab.com/afrostorg/frosty

Can also add some of the PyCon India(https://github.com/pythonindia) repositories

[2020-07-08 13:29] atb00ker commented on #219
Name-: atb00ker
Project-: ISP Finder
Repository-: https://atb00ker.github.io/angular-isp-finder/

[2020-07-09 16:51] Sc0rpi0n101 commented on #192
Hi @ritwik9857, Do you still plan on working on this issue?
I have described what you need to do in https://github.com/asetalias/asetalias.github.io/issues/195#issuecomment-654423208

[2020-08-11 07:43] kmlhsn opened #221 ""Shivam Rajput" picture is missing in "Meet Our Team""
**Describe the bug**
picture  of "Shivam Rajput" is missing in "Meet Our Team"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  'https://asetalias.in/' or home page from your local machine. For example, my local URL is "http://localhost:63342/asetalias.github.io/"
2. Scroll down to 'Meet Our Team'
4. Picture of "Shivam Rajput" is missing

**Expected behavior**
There should have a pictu

[2020-08-11 13:58] kmlhsn opened #222 ""Ethical Hacking & Cyber security Workshop" box is out of alignment in " PREVIOUS EVENTS ""
**Describe the bug**
"Ethical Hacking & Cyber security Workshop" box is out of alignment in " PREVIOUS EVENTS "

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://asetalias.in/ or or home page from your local machine. For example, my local URL is "http://localhost:63342/asetalias.github.io/".
2. Click on "PREVIOUS EVENTS" on the top menu.
3.Scroll down to "Ethical Hacking & Cyber

[2020-08-11 14:21] kmlhsn opened #223 "Gallery fails to load"
**Describe the bug**
Gallery fails to load photos/videos. it shows only "loading" with a circle

**To Reproduce**
Steps to reproduce the behavior:
1. Goto https://asetalias.in/ or or home page from your local machine. For example, my local URL is "http://localhost:63342/asetalias.github.io/"
2. Click on "GALLERY" on top menu

**Expected behavior**
Gallery should load photos,videos or other medias

[2020-08-19 15:22] TanyaaCJain opened #224 "[Redesign] Change the ASET ALiAS Logo to the original one on the website."
**Describe the bug**
The current logo displayed on the website does not match the original one used for ASET ALiAS branding on all platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [website homepage](https://asetalias.in)
2. Look at the logo.

**Expected behavior**
The logo is expected to match with the branding of ASET ALiAS, which can be found at [ALiAS Logos](https://gi

[2020-08-19 15:29] Sc0rpi0n101 commented on #217
PyData Delhi (from #96 )

[2020-08-19 15:29] Sc0rpi0n101 commented on #96
Adding PyData Delhi to #217 and closing this

[2020-08-19 15:29] #96 closed

[2020-08-20 09:26] priyanshu0405 commented on #220
Hi @Sc0rpi0n101, I would like to take the issue.

[2020-08-20 09:27] Sc0rpi0n101 commented on #220
Sure

[2020-08-20 09:32] priyanshu0405 commented on #220
Can you please explain it to me a bit.

[2020-08-20 12:36] Sc0rpi0n101 commented on #220
Yeah, so, currently the previous events page is https://asetalias.in/prev_events.html. But it has an outdated design according to the previous design. We are redesigning the website, so we would like this page to also be designed as per the new theme. You can check the new theme from the communities page here https://asetalias.in/communities.html.

and here is the PR for that work if you need a re

[2020-08-20 13:21] Sc0rpi0n101 commented on #221
Fixed in #225

[2020-08-20 13:21] #221 closed

[2020-08-20 13:26] Sc0rpi0n101 commented on #95
Is this done or should we add any more events? @vipulgupta2048 @thisisayush

[2020-08-20 13:28] #94 closed

[2020-08-20 13:30] Sc0rpi0n101 commented on #148
Suggestion from #93 :

Create 2 boxes, one that would contain posters on the left and the other on the right with ample space for the description to be accommodated keeping all the fine details same.

[2020-08-20 13:30] Sc0rpi0n101 commented on #93
Closing in favor of #148

[2020-08-20 13:30] #93 closed

[2020-08-20 13:37] Sc0rpi0n101 commented on #192
I'm closing this as I've created a repo project for tracking the progress.

[2020-08-20 13:37] #192 closed

[2020-08-20 14:44] priyanshu0405 commented on #220
@Sc0rpi0n101, please have a look at the PR and also suggest improvements. Thanks!!

[2020-08-25 19:37] ydocsgnillats commented on #194
I'd like to help with this if it is available!

[2020-08-25 20:02] Sc0rpi0n101 commented on #194
Yeah, sure. Help is always appreciated 🙂

Do you know what you need to do or should I tell you a little?

[2020-08-26 12:46] ydocsgnillats commented on #194
I think I understand the idea behind it, but could you explain more just in case?

[2020-08-26 13:39] AbhipsaGuru1012 commented on #222
@kmlhsn Hi, can I work on this issue?

[2020-08-26 16:05] Sc0rpi0n101 commented on #194
So, you can check out the current webinars at https://asetalias.in/index.html#webinars. We're planning to move them to a new page, and only leave a couple of the latest webinars on the front page.

You can take a reference to how the new theme should look like from the home page hero section and https://asetalias.in/communities.html

[2020-08-26 16:18] Sc0rpi0n101 commented on #222
Hi, thanks for proposing to help.
This issue will be solved under #228. You can help with that PR with reviews and ideas.

You can also take up other pages if you would like, like the FAQ page(#149), the team page(#193) or the supporters' page(#152)

[2020-08-26 21:57] ydocsgnillats commented on #194
I've created a pull request with the changes made, let me know if it's done right!

[2020-10-02 10:18] sksuryan commented on #224
@TanyaaCJain I was the one who actually created that logo. It's animated because it's an SVG, for the original logo to be animated, we would need an SVG of it. Either since the current logo on the website is an SVG already it could be scaled for other platforms or the original logo could be found in previous commits and could be used instead.

[2020-10-06 21:29] vipulgupta2048 opened #230 "Weird extra space at 125% zoom"
![Screenshot from 2020-10-07 02-57-15](https://user-images.githubusercontent.com/22801822/95261949-ee15b680-0848-11eb-93ec-f5750f36a7b0.png)

- Can be resolved with making Shyam Saini's description fit into one line

[2020-10-11 19:49] TanyaaCJain commented on #224
@sksuryan Thank you for following up! The original logo was created by @parthsharma2 who has been contacted to send us its SVG file. It is the goto option as it seems that the website originally used  .PNG file logo as you can see it in this [commit](https://github.com/asetalias/asetalias.github.io/pull/6/files?file-filters%5B%5D=.png&short_path=706ff17#diff-f123c3c8de676728340785356023b87e). Let'

[2021-02-27 18:16] TanyaaCJain opened #233 "Missing discord server invite link"
**Missing discord server link**
The contact us section on the website is missing on the discord server link. It should be available with all the other social media links.

[2021-02-27 19:20] TanyaaCJain opened #234 "Update and add details on Upcoming Events section"
**Describe the bug**
The last event on upcoming section is for the date "April 25".

**Expected behavior**
A regular update of the section where 'upcoming' word stays true to its original definition in the English dictionary. That is, only events that are yet to happen end up there.

Also, not just on site events, but all scheduled calls get a space there with respective invite/watch links and cal

[2021-02-27 22:50] Prixix commented on #233
Hey,
can you send me the discord link please?

[2021-02-28 08:02] aditya28sarin commented on #233
Can you assign this issue to me?

[2021-02-28 08:16] ywalia01 opened #235 "Update site image in readme to the latest look"
The current screenshot for the site in readme belongs to the old theme which has since been updated to a new look.

[2021-02-28 08:22] ywalia01 commented on #235
Maintainers please take a look and assign me this issue as I'd like to work on it.

[2022-08-08 05:10] vinayaknayar opened #237 "Header"
Design and add navbar as on figma.

![Image](https://user-images.githubusercontent.com/98237998/183344366-014f2ba0-0c0a-4455-912d-7b65bc9b9356.png)

[2022-08-08 05:23] vinayaknayar commented on #237
I have already started working on it. Thus, I am self assigning it.

[2022-08-08 05:25] vinayaknayar opened #238 "Footer"
Footer includes ALiAS's socials and copyright statement.
Design for this is under development. You can propose a new design for it.
Currently it looks like this:

![Image](https://user-images.githubusercontent.com/98237998/183345676-fdbe2bf8-b859-4b24-b686-d671d0eb8e36.png)

[2022-08-08 05:30] vinayaknayar opened #239 "Landing View // Hero"
Hero is the section just below navbar (landing view). You can propose a better design for this.

![Image](https://user-images.githubusercontent.com/98237998/183346567-d07b00d3-fc7d-4189-971a-179dc63f719f.png)

![Image](https://user-images.githubusercontent.com/98237998/183351215-b922dcae-e3d3-467b-b19f-0cb9144c1cda.png)

[2022-08-08 05:37] vinayaknayar opened #240 "Home Page // Events Component"
Events component at home page would be a slideshow of the upcoming events .
Design for upcoming event is under development. You can also propose a better design.

![Image](https://user-images.githubusercontent.com/98237998/183351075-472f4eab-74f7-4b14-9738-b8f50724c891.png)

[2022-08-08 06:16] vinayaknayar opened #241 "Home Page//Why ALiAS"
'Why ALiAS' section would be under the hero section it should be inspired from the original website's design.
You may develop the better design and you should mention the achievements, work done at ALiAS, etc.

![Image](https://user-images.githubusercontent.com/98237998/183352609-6b7b4747-3e83-4713-a583-de4e6c8d718f.png)

[2022-08-08 06:28] vinayaknayar opened #242 "About Page / Members / Team"

[2022-08-08 06:45] vinayaknayar opened #243 "Blogs View"
Blog page will include all the blogs and view it in an organized manner. You may propose a design for the following.
You can also refer to  https://asetalias.in/blog/

[2022-08-08 08:51] SagarDeep1811 commented on #239
Hey ! I'd like to work on this component.